.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
}

.projectListContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.projectAnalyticsContainer {
    width: 300px;
    padding: 20px;
}
