.projectCard {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #212025;
    color: white;

    width: 80%;

    border-radius: 15px;
    padding-left: 20px;
}

.projectTitle {
    position: relative;
    font-family: "Inter", sans-serif;
}

.projectTags {
    display: flex;
    gap: 5px;

}